<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.2.0" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.34" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net461" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" targetFramework="net48" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net48" />
  <package id="Nito.Collections.Deque" version="1.2.1" targetFramework="net48" />
  <package id="Nito.Disposables" version="2.5.0" targetFramework="net48" />
  <package id="Pechkin" version="0.5.8.1" targetFramework="net461" />
  <package id="Pechkin.Synchronized" version="0.5.8.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
</packages>